h1{
  font-size: 60px;
  color: red;
  font-family: font-family: 'Roboto Condensed', sans-serif;
}

.btn{
    height: 100px;
    width: 1160px;
    color: blue;
}

body{
    background-color: #9D9D9D;
}